!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %title {% block title%}iandouglas.com{% endblock %}
    %link(href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css')
    %link(href="/css/main.css" rel="stylesheet")

  %body
    %header
      %h1 iandouglas.com
      %ul.nav-social
        %li
          %a(href="http://plus.google.com/+IanDouglas" title="Ian at Google+")
            %img(src="/img/google-plus-4-32.png" height=28 width=28)
        %li
          %a(href="http://github.com/iandouglas" title="Ian at GitHub")
            %img(src="/img/github-9-32.png" height=28 width=28)
        %li
          %a(href="http://linkedin.com/in/iandouglas736" title="Ian at LinkedIn")
            %img(src="/img/linkedin-4-32.png" height=28 width=28)
        %li
          %a(href="http://twitter.com/iandouglas736" title="Ian at Twitter")
            %img(src="/img/twitter-4-32.png" height=28 width=28)

    .submenu
      %ul
        %li
          %a(href='/') home
        %li
          %a(href='/resume') resume
        %li
          %a(href='/headhunters') headhunter nightmares
        {% block submenu %}{% endblock %}

    .body-content
      {% block content %}{% endblock %}

    .spacer
    %footer
      %ul
        %li
          %a(href='/privacy') privacy
        %li
          %a(href='/credits') credits
      .copyright
        {% block footer %}copyright &copy; 1996-{{ moment().format('YYYY') }} ian douglas{% endblock %}

    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ config['GOOGLE_ANALYTICS_ID'] }}', 'auto');
      ga('send', 'pageview');
