<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>{% block title%}Flask GAE Skeleton{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='/css/main.css' rel='stylesheet'>
  </head>
  <body>
    <header>
      <h1>Flask GAE Skeleton</h1>
      <h4>Get your Flask project started!</h4>
    </header>
    <div class='submenu'>
      <ul>
        <li>
          Need help?
          <a href='https://plus.google.com/+IanDouglas'>Contact author on Google+</a>
        </li>
        <li style='width:50px;'>&nbsp;</li>
        <li>
          This project is Open Source
        </li>
        <li style='width:50px;'>&nbsp;</li>
        {% block submenu %}{% endblock %}
      </ul>
    </div>
    <div class='body-content'>
      {% block content %}{% endblock %}
    </div>
    <footer>
      {% block footer %}copyright &copy; 2014 ian douglas{% endblock %}
    </footer>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-142829-33', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
