<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>{% block title%}Flask GAE Skeleton{% endblock %}</title>
    <link href='/css/main.css' rel='stylesheet'>
  </head>
  <body>
    <header>
      <h1>Flask GAE Skeleton</h1>
      <h4>Get your Flask project started!</h4>
    </header>
    <div class='submenu'>
      <ul>
        <li>
          Need help?
          <a href='https://plus.google.com/+IanDouglas'>Contact author on Google+</a>
        </li>
        <li style='width:50px;'>&nbsp;</li>
        <li>
          This project is Open Source
        </li>
        <li style='width:50px;'>&nbsp;</li>
        {% block submenu %}{% endblock %}
      </ul>
    </div>
    <div class='body-content'>
      {% block content %}{% endblock %}
    </div>
    <footer>
      {% block footer %}copyright &copy; 2014 ian douglas{% endblock %}
    </footer>
    <script async src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script>
      
    </script>
  </body>
</html>
