!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %title {% block title%}Flask GAE Skeleton{% endblock %}
    %link(href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css')
    %link(href="/css/main.css" rel="stylesheet")

  %body
    %header
      %h1 Flask GAE Skeleton
      %h4 Get your Flask project started!

    .submenu
      %ul
        %li
          Need help?
          %a(href='https://plus.google.com/+IanDouglas') Contact author on Google+
        %li(style='width:50px;') &nbsp;
        %li
          This project is Open Source
        %li(style='width:50px;') &nbsp;
        {% block submenu %}{% endblock %}

    .body-content
      {% block content %}{% endblock %}

    %footer
      {% block footer %}copyright &copy; 2014 ian douglas{% endblock %}

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-142829-33', 'auto');
      ga('send', 'pageview');

