{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
%h1
  Hello world!
{% endblock %}
{% block submenu %}
%li
  %a(href='https://github.com/iandouglas/flask-gae-skeleton') GitHub
%li
  %a(href='https://bitbucket.org/iandouglas/flask-gae-skeleton') BitBucket
{% endblock %}
