body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #F8F8F8;
  color: #222;
  font-family: "Abel", "Arial Narrow", Verdana, sans-serif;
  font-weight: 400;
  overflow-y: scroll; }

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px 0 6px;
  z-index: 3000;
  text-align: center;
  background: #5690DC;
  white-space: nowrap;
  overflow: hidden; }

header {
  position: relative;
  width: 100%;
  height: 65px;
  padding: 10px 0 6px;
  z-index: 3000;
  text-align: center;
  background: #5690DC;
  white-space: nowrap;
  overflow: hidden; }
  header h1 {
    color: white;
    margin-top: -4px; }
  header h4 {
    margin-top: -20px; }

ul {
  margin-top: 10px; }
  ul li {
    display: inline;
    list-style-type: none; }
    ul li a {
      display: inline-block;
      font-size: 16px;
      position: relative;
      text-decoration: none;
      margin-right: 50px; }

.submenu {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #111;
  font-family: "Abel", "Arial Narrow", Verdana, sans-serif;
  color: white;
  white-space: nowrap;
  overflow: hidden; }
  .submenu ul li a {
    display: inline-block;
    color: yellow;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    margin-right: 0px; }

.body-content {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.button {
  border: none;
  background: #5690DC;
  padding: 8px 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  vertical-align: middle; }

.button:hover {
  background: #28597a;
  color: #ccc; }

.button:active {
  background: #1b435e; }
